@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Whisper&display=swap');

.titulo {
    font-family: 'Crimson Text', serif;
    font-size: 1.5em;
    font-weight: 400;
    font-style: italic;
    padding-top: 12px;
}

h1 {
    font-family: 'Crimson Text', serif;
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
}

.myNavBar {
    -webkit-box-shadow: 0px 10px 5px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 5px 8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 5px 8px rgba(0, 0, 0, 0.75);

}

.card-pizza:hover {
    filter: drop-shadow(5px 5px 10px #000000);
}

.addTo:hover {
    background-color: #f1f1f1;

    color: #000;
}

.footer {
    border-top: 2px solid #22222265;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(58, 180, 113, 1) 0%, rgba(255, 255, 255, 1) 50%, rgb(255, 0, 0) 100%);
}